.small-screen-card {
    background-color: lightblue; 
}

.large-screen-card {
    background-color: lightgreen; 
}

.card-content {
    padding: 20px;
}

.small-screen-text {
    color: red; 
}

.large-screen-text {
    color: blue; 
}

@media screen and (max-width: 600px){
    .small-screen-text{
        font-size: 60px;
    }
}